/*If the temperature is greater than 90F/32C the color of the converted 
temperature should be red.*/

.red-font {
	color: red;
}

.blue-font {
	color: blue;
}

.green-font {
	color: green;
}

/* If the temperature is less than 32F/0C the color of the converted 
temperature should be blue. */

/*For any other temperature, the color should be green.*/